<div class="random-grp">
    <div class="dashboard">
        <p>Utilisateurs</p>
        <div class="buttons">
            <a [routerLink]="['/my-group']" routerLinkActive="active" >
                <div class="btn">Mon groupe</div>
            </a>
            <a [routerLink]="['/create-group']" routerLinkActive="active" >
                <div class="btn">Créer un groupe</div>
            </a>
            <a>
                <div class="btn" (click)="showUserWithoutGroup()">Utilisateurs sans groupe</div>
            </a>
            <a>
                <div class="btn" (click)="randomGroup()">Intégrer un groupe aléatoire</div>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="group-name" id="group-name">Vous avez été intégré dans un groupe aléatoire.
            <br>Votre groupe est le groupe {{random}}. <br> Vous pouvez voire votre groupe dans 'Mon groupe'. </div>
    </div>
</div>