.overview .container {
  position: absolute;
  top: 40%;
  left: 35%;
  align-items: center;
  justify-content: center;
}

.no-group {
  display: none;
  font-weight: bold;
  font-size: 36px;
  color: gray;
}
