<div class="overview">
    <div class="dashboard">
        <p>Administrateur</p>
        <div class="buttons">
            <a [routerLink]="['/config']" routerLinkActive="active" ><div class="btn">Configuration des groupes</div></a>
            <a [routerLink]="['/overview']" routerLinkActive="active" ><div class="btn">Modification des groupes</div></a>
        </div>
    </div>
    <div class="container">
        <div class="no-group" id="no-group">Aucun groupe n'a encore été créé par les utilisateurs.</div>
    </div>
</div>