<div class="my-group">
    <div class="dashboard">
        <p>Utilisateurs</p>
        <div class="buttons">
            <a [routerLink]="['/my-group']" routerLinkActive="active" ><div class="btn">Mon groupe</div></a>
            <a [routerLink]="['/create-group']" routerLinkActive="active" ><div class="btn">Créer un groupe</div></a>
            <a [routerLink]="['/list-groups']" routerLinkActive="active" ><div class="btn">Liste des utilisateurs sand groupes</div></a>
            <button>Intégrer un groupe aléatoire</button>
    
        </div>
    </div>
    <div class="infos">
        <h1>{{groupName}}</h1>
        <div class="users" *ngFor="let user of users">
            <p>{{user}}</p>
        </div>
        <a [routerLink]="['/my-group']" routerLinkActive="active" ><div class="btn">Quitter le groupe</div></a>
    </div>
</div>