<div class="my-group">
    <div class="dashboard">
        <p>Utilisateurs</p>
        <div class="buttons">
            <a [routerLink]="['/my-group']" routerLinkActive="active" >
                <div class="btn">Mon groupe</div>
            </a>
            <a [routerLink]="['/create-group']" routerLinkActive="active" >
                <div class="btn" id="btn-create">Créer un groupe</div>
            </a>
            <a [routerLink]="['/list-users']" routerLinkActive="active">
                <div class="btn">Utilisateurs sans groupe</div>
            </a>
            <a [routerLink]="['/dashboard-user']" routerLinkActive="active">
                <div class="btn" id="btn-random" (click)="randomGroup()">Intégrer un groupe aléatoire</div>
            </a>
        </div>
    </div>
    <div class="infos">
        <div class="box" *ngIf="!noGroup">
            <h1>Groupe {{groupName}}</h1>
            <div class="list">
                <div class="users" *ngFor="let user of users">
                    <p>{{user}}</p>
                </div>
            </div>
            <a [routerLink]="['/dashboard-user']" routerLinkActive="active" ><div class="btn" (click)="quitGroup()">Quitter le groupe</div></a>
        </div>
        <div class="no-group" *ngIf="noGroup">Vous ne faîtes actuellement parti d'aucun groupe.</div>
    </div>
</div>